#load-details {
  .load-details-container {
    margin: 0 auto;
    width: 500px;
    -webkit-box-shadow: 3px 2px 32px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 32px -8px rgba(0,0,0,0.75);
    box-shadow: 3px 2px 32px -8px rgba(0,0,0,0.75);

    .bottom-section,
    .mid-section,
    .top-section {
      padding: 20px 20px 0;
    }

    .top-section {
      background: green;
      color: white;

      h1 {
        font-size: 2rem;
        font-weight: 500;
        letter-spacing: 1px;
        margin-bottom: 1rem;
      }

      h2 {
        font-size: 1.7rem;
        font-weight: 300;
        letter-spacing: 1px;
      }

      .group {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding-bottom: 0.5rem;

        h5 {
          font-size: 1rem;
          font-weight: 300;
          letter-spacing: 1px;
        }

        h3 {
          font-size: 2rem;
          font-weight: 500;
          color: black;
          letter-spacing: 2px;
        }
      }
    }

    .mid-section {
      h5 {
        color: black;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
        margin-bottom: 1rem;
      }
    }

    .bottom-section {
      h5 {
        color: black;
        font-size: 1rem;
        font-weight: 300;
        letter-spacing: 1px;
        line-height: 2;
      }

      h4 {
        text-align: right;
        font-weight: 700;
        letter-spacing: 1px;
      }
    }

    .back-button {
      text-align: center;
      padding: 2rem 0;

      a {
        text-decoration: none;
        padding: 10px;
        color: orange;
        -webkit-box-shadow: 3px 2px 32px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 2px 32px -8px rgba(0,0,0,0.75);
        box-shadow: 3px 2px 32px -8px rgba(0,0,0,0.75);
      }
    }
  }
}
