#nav{
  background:white;
  margin-bottom:5rem;
  .nav-container{


    width:100%;
    .top-half{
        background:#2196f3;
      height:60px;
      -webkit-box-shadow: 3px 2px 32px -8px rgba(0,0,0,0.75);
      -moz-box-shadow: 3px 2px 32px -8px rgba(0,0,0,0.75);
      box-shadow: 3px 2px 32px -8px rgba(0,0,0,0.75);
    }
    .nav-links{

      ul{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        text-align: center;
        -webkit-box-shadow: 3px 2px 32px -8px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 2px 32px -8px rgba(0,0,0,0.75);
        box-shadow: 3px 2px 32px -8px rgba(0,0,0,0.75);
        flex: 1;


          a{
            text-decoration: none;
            color:#4a90e2;
            flex:1;
            width:100%;

                    padding: 15px 0px;
            &:hover{
              color:#217eeb;
              font-weight:500;
            }
          }

      }
    }
  }
}
.selected{
  border-bottom: 1px solid #e28449;
}
