@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";
@import "nav";
@import "upload";
@import "loadItem";
@import "loadhistory";
@import "loadDetail";

body {
  font-family: 'Roboto', sans-serif;
  background: #2f4250;
}

* {
  box-sizing: border-box;
}

.home {
  max-width: 1600px;
  margin: 0 auto;
  background: #eaeaea;
  height: 100vh;
}

label {
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
  letter-spacing: 0.5px;
}

input {
  border: none;
  border-bottom: 2px solid #dbdbdb;
  font-size: 1rem;
  max-width: 70%;

  &:focus {
    outline: none;
    border-bottom: 2px solid #2196f3;
  }

  &::placeholder {
    color: #e2d9d9;
    font-size: 0.8rem;
    font-weight: 100;
  }
}

.add-load {
  position: absolute;
  height: 60px;
  width: 60px;
  bottom: -50px;
  right: 150px;
  cursor: pointer;

  img {
    max-width: 100%;
  }
}
//slider toggle

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    display: none;

    &:checked + .slider {
      background-color: #e28449;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #2196F3;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      -webkit-transition: 0.4s;
      transition: 0.4s;
    }

    &.round {
      border-radius: 34px;

      &:before {
        border-radius: 50%;
      }
    }
  }
}
